body {
    background-image: url("https://i.postimg.cc/MGPbCDyV/204-CB983-DB1-B-40-E0-8-D22-360-CA8905-B32.jpg");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    touch-action: none;
    display: flex;
    flex-direction: column;
	-ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none
}
.tomat {
margin-top: 5px;
border: 0;
background-image: url("https://i.postimg.cc/MGPbCDyV/204-CB983-DB1-B-40-E0-8-D22-360-CA8905-B32.jpg");
box-shadow: none;
align-items: center;
}
h1 {
margin-top: 50px; /* 100px Старый параметр */
color: white;
font-family: Arial;
font-size: 36px;
}
h3 {
margin-top: 3px; /* 100px Старый параметр */
color: white;
font-family: Arial;
}
.market {
background-color:  #292929;
box-shadow: none;
border: 0;
margin-top: 5px;
}
.circle {
    width: 16em;
    height: 7em;
    background-color: #292929;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    overflow: hidden;
    align-items: center;
    margin-top: 20px;
}
